---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Anish aka XEVEN"
  pubDate={new Date("November 07 2023")}
  heroImage="/assets/anish.webp"
  author="Anish Biswas"
>
  <p>
    Hey there, I'm Anish Biswas, a second-year computer science undergrad at
    Techno Mains, diving headfirst into the exciting world of web development!
    I've got my hands dirty with all things frontend and backend – think React,
    Next.js, Astro, Bun, Three.js, and GSAP – you name it!
  </p>

  <p>
    My coding journey has been a rollercoaster of creativity and innovation. I
    love crafting user experiences that just make sense, and I'm not afraid to
    tackle the backend complexities too. I'm that curious tech enthusiast who's
    always poking around the latest digital trends, solving puzzles, and turning
    wild ideas into functional, good-looking websites and apps.
  </p>

  <p>
    Frontend wizardry is my forte, but I'm also leveling up my backend game.
    Together, let's break the web development mold, one line of code at a time!
    Join me on this crazy coding adventure where we learn, create, and have a
    blast shaping the future of software development! 🚀
  </p>
  <p>
    Wanna contact and Make interesting projects together?<br />Click <a
      href="mailto:xevenbiswas@gmail.com">Here</a
    >📧 or <a href="https://bento.me/anish7">Here</a>🪄 to Explore my World !.
  </p>
</Layout>
