---
import { Image } from "astro:assets";
import Logo from "../assets/anishlogo.svg";
import astrofloat from "../assets/astrofloat.webp";
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
---

<BaseLayout>
  <main class="flex flex-col items-center pt-6 w-full max-w-5xl">
    <section
      class="relative flex flex-col items-center justify-center text-center"
    >
      <div
        class="h-60 w-60 rounded-full absolute -top-40 -z-10 -left-60 bg-ngreen opacity-20 blur-3xl"
      >
      </div>
      <div
        class="h-60 w-60 rounded-full absolute -bottom-40 -z-10 -right-60 bg-ngreen opacity-20 blur-3xl"
      >
      </div>
      <h1 class="tracking-tight scale-110 cursor-pointer select-none">
        🧑‍🚀 <span class="serif italic font-normal"> Hello,</span>
        <span class="illuminated"> Astronaut! </span>
      </h1>
      <div class="relative mt-6 rounded-3xl">
        <video
          src="/assets/planetvid.webm"
          autoplay
          loop
          muted
          class="rounded-3xl glow cursor-crosshair select-none pointer-events-none"
        >
        </video>
        <div
          class="backdrop-blur-lg absolute right-0 top-0 h-12 w-32 z-30 rounded-bl-3xl rounded-tr-3xl"
        >
        </div>
        <div
          class="backdrop-blur-lg absolute left-0 bottom-0 h-12 w-32 z-30 rounded-tr-3xl rounded-bl-3xl"
        >
        </div>
        <Image
          src={astrofloat}
          alt="Astronaut floating"
          class="drop-shadow-lg absolute left-1/2 -translate-x-1/2 -bottom-14 fff opacity-80 rotate-12 -hue-rotate-30 blurIn"
          width={500}
        />
      </div>

      <p class="mt-60 text-start opacity-75 md:px-4 intro">
        Welcome to my blog! I'm <a
          href="http://anish7.me"
          target="_blank"
          class="text-inherit hover:text-primary hover:tracking-wide"
          rel="noopener noreferrer">Anish</a
        >, a <a
          href="http://github.com/xeven777"
          class="text-inherit hover:text-primary"
          target="_blank"
          rel="noopener noreferrer">full stack web developer</a
        >🤖, lowkey <a
          href="https://spti.fi/xeven"
          class="text-inherit hover:text-primary"
          target="_blank"
          rel="noopener noreferrer">music producer</a
        >🎶, avid football fan⚽ and a meme enthusiast🤪.
        <br />
        <br />
        Here, write about web development, my journey as a developer, and other random
        stuff that I find interesting.
      </p>
      <a href="/blog" class="mt-4">
        <ButtonPrimary>
          Read Blogs <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right"
            ><path d="m9 18 6-6-6-6"></path></svg
          >
        </ButtonPrimary>
      </a>

      <div class="my-52 relative w-screen">
        <div class="overflow-hidden space-y-5 masked">
          <div
            class="text-9xl flex gap-8 whitespace-nowrap tracking-tighter font-bold w-max pl-8 marquee-text"
          >
            <p>BLOGS</p>
            <p>TECH</p>
            <p>AI</p>
            <p>FUN</p>
            <p>TRICKS</p>
            <p>BLOGS</p>
            <p>TECH</p>
            <p>AI</p>
            <p>FUN</p>
            <p>TRICKS</p>
          </div>
          <div
            class="text-9xl flex gap-8 whitespace-nowrap tracking-tighter font-bold w-max pl-8 marquee-text-2"
          >
            <p>BLOGS</p>
            <p>TECH</p>
            <p>AI</p>
            <p>FUN</p>
            <p>TRICKS</p>
            <p>BLOGS</p>
            <p>TECH</p>
            <p>AI</p>
            <p>FUN</p>
            <p>TRICKS</p>
          </div>
        </div>
        <Logo
          class="size-60 absolute top-0 left-1/2 -translate-x-1/2 blur-3xl opacity-70 slidein"
        />
        <Logo
          class="size-60 absolute top-0 left-1/2 -translate-x-1/2 slidein"
        />
      </div>
    </section>
  </main>
</BaseLayout>
<style>
  .illuminated {
    color: white;
    text-shadow:
      0 0 7px rgba(184, 244, 55, 0.2),
      0 0 10px rgba(184, 244, 55, 0.2),
      0 0 42px rgba(184, 244, 55, 0.2);
  }
  .illuminated:hover {
    text-shadow:
      0 0 7px rgba(184, 244, 55, 0.6),
      0 0 10px rgba(184, 244, 55, 0.6),
      0 0 42px rgba(184, 244, 55, 0.6);
  }
  .glow {
    transition-duration: 700ms;
    box-shadow: 0 0 36px 2px rgba(79, 109, 16, 0.3);
  }
  .glow:hover {
    box-shadow: 0 0 36px 2px rgba(79, 109, 16, 0.6);
  }

  .intro {
    animation: fadeIn ease;
    animation-timeline: view(40% 0);
  }
  @keyframes fadeIn {
    from {
      opacity: 0.1;
      transform: translateY(20px);
      filter: blur(3px);
    }
    to {
      opacity: 0.75;
    }
  }

  .blurIn {
    animation: blur-in ease-in-out;
    animation-timeline: view(50% -100px);
  }
  @keyframes blur-in {
    0% {
      transform: translateY(100px) translateX(-50%) rotate(-20deg);
      opacity: 0;
      filter: hue-rotate(0deg);
      filter: blur(10px);
    }
    100% {
      transform: translateY(0px) translateX(-50%) rotate(12deg);
      opacity: 0.8;
      filter: hue-rotate(-30deg);
      filter: blur(0px);
    }
  }

  .marquee-text {
    animation: marquee 8s linear infinite;
  }
  .marquee-text-2 {
    animation: marquee 7s linear infinite reverse;
  }
  @keyframes marquee {
    100% {
      transform: translateX(-50%);
    }
  }
  .marquee-text > p,
  .marquee-text-2 > p {
    @apply text-zinc-800/80 mb-0;
  }
  .masked {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 30%,
      black 70%,
      transparent
    );
  }

  .slidein {
    animation: slidein ease-in;
    animation-timeline: view(40% -10px);
  }

  @keyframes slidein {
    from {
      transform: translateY(50px) translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0px) translateX(-50%);
      opacity: 1;
    }
  }
</style>
