---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Search from "astro-pagefind/components/Search";
---

<header>
  <nav>
    <h2>
      <a href="/" class="flex items-center gap-2">
        <img src="/assets/blastro.svg" alt="Blastro Logo" class="h-7" />
        {SITE_TITLE}</a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/search-blogs"> Search </HeaderLink>
    </div>
    <div class="w-44 md:block hidden">
      <div class="max-w-52 absolute top-2">
        <Search
          className="max-h-96 overflow-y-auto"
          id="search"
          uiOptions={{ showImages: false }}
        />
      </div>
    </div>
  </nav>
</header>
<style>
  :root {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: #a8e524;
    --pagefind-ui-text: #c4c4c4ea;
    --pagefind-ui-background: #0e100f;
    --pagefind-ui-border: #1e1e1f;
    --pagefind-ui-tag: #1e1e1f;
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2.5;
    --pagefind-ui-font: "Instrument Sans", sans-serif;
  }
  header {
    margin: 0;
    z-index: 50;
    padding: 0 1.4em;
    border-radius: 0 0 1em 1em;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    background: rgb(var(--black), 0.9);
    box-shadow: 0 2px 8px rgba(15, 15, 15, 0.2);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  img:hover {
    filter: drop-shadow(0 0 12px #a8e52492) saturate(1);
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.7em 0.5em;
    color: rgb(var(--white-smoke), 0.9);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
